@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #315A68;
  --color-accent: #EC2F6B;
  --color-black : #323232;
  font-family: 'Poppins', sans-serif;
}

.text-primary {
  color: var(--color-primary);
}

.text-accent {
  color: var(--color-accent);
}

.text-black-1 {
  color: var(--color-black);
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-accent {
  background-color: var(--color-accent);
}
.bg-black-1 {
  background-color: var(--color-black);
}

.border-primary {
  border-color: var(--color-primary);
}